@import url(../../../styles/_variables.scss);

.admin__inputs-container {
  background-color: color-green-ligth;
  width: 90%;
  display: flex;
  border-top-right-radius: 20px;
}

.admin__name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.admin__code-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.button--show-code {
  background-color: transparent;
  border: none;
  color: rgb(156, 156, 156);
  margin-left: -35px;
}

.admin__input {
  border-radius: 19px;
  font-size: 1.2rem;
  border: none;
  height: 2.9rem;
  background-color: rgb(255, 255, 255);
  outline: none;
  width: 90%;
  padding-left: 15px;
  color: rgb(3, 68, 9);
}

.admin__input::placeholder {
  color: rgb(148, 167, 150);
  font-size: 1.2rem;
}

.btn--login__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 20%;
}
