@import '../../../styles/_variables.scss';

.admin__inputs-container {
  background-color: $color-grey-primary;
  width: 90%;
  display: flex;
  border-top-right-radius: 20px;
}

.admin__name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.admin__code-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.button--show-code {
  background-color: transparent;
  border: none;
  color: $color-grey-secondary;
  margin-left: -35px;
  cursor: pointer;
}

.admin__input {
  border-radius: 19px;
  font-size: 1.2rem;
  border: none;
  height: 2.9rem;
  background-color: $color-grey-ligth;
  outline: none;
  width: 90%;
  padding-left: 15px;
  color: $color-grey-dark;
}

.admin__input::placeholder {
  color: $color-grey-primary;
  font-size: 1.2rem;
}

.btn--login__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 20%;
}
