@import '../../styles/_variables.scss';

.form-container {
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
}

.form__title {
  font-size: $title-secondary;
  color: $color-grey-dark;
  font-weight: 600;
  text-align: center;
}

.form {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: $border-line;
  border-left: $border-line;
}

.form-inputs {
  width: 60%;
  padding-left: 2.5rem;
}

.form-btns {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}
