.form-container {
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
}

.form__title {
  font-size: 2rem;
  color: rgb(3, 68, 9);
  font-weight: 600;
  text-align: center;
}

.form {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(4, 104, 12);
  border-left: 1px solid rgb(4, 104, 12);
}

.form-inputs {
  width: 60%;
  padding-left: 2.5rem;
}

.form-btns {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}
