@import '../../styles/_variables.scss';

.new-user__container {
  display: flex;
  align-items: center;
  height: 7rem;
  justify-content: center;
  width: 100%;
  padding-right: 2rem;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 60%;
  height: 3rem;
  padding-left: 1rem;
}

.title {
  font-size: $title-secondary;
  color: $color-grey-dark;
  font-weight: 600;
}

.btn--add-user__container {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  height: 3rem;
}
