@import '../../../../styles/_variables.scss';

.button {
  padding: 10px;
  width: 6rem;
  height: 2.9rem;
  border-radius: 19px;
  border: none;
  box-shadow: $shadow-button;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 700;
}

.button:active {
  box-shadow: $shadow-button-active;
  transform: translateY(2px);
}

.button--primary {
  color: $color-grey-ligth;
  background-color: $color-green-primary;
}

.button--primary:hover {
  background-color: $color-green-secondary;
  color: $color-grey-ligth;
}

.button--secondary {
  color: $color-grey-dark;
  background-color: $color-grey-primary;
}

.button--secondary:hover {
  background-color: $color-grey-secondary;
}

.disabled {
  color: $color-grey-primary;
  background-color: $color-grey-ligth;
  cursor: not-allowed;
}

.disabled:hover {
  color: $color-grey-primary;
  background-color: $color-grey-ligth;
}

.disabled:active {
  box-shadow: $shadow-button-active;
  transform: translateY(0px);
}
