.loggedin__container {
  background-color: rgb(35, 173, 47);
  width: 90%;
  display: flex;
  justify-content: space-between;
  border-top-right-radius: 20px;

}

.loggedin__title-container {

  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loggedin__title {
  font-size: 1.6rem;
  color: rgb(2, 71, 8);
 
}

.logout__btn-container {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.logout-btn {
  height: 2.9rem;
  border-radius: 20px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.575) 0px 5px 15px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  width: 6rem;
  background-color: rgb(2, 85, 8);
  background-color: rgb(35, 173, 47);
}

.logout-btn:hover {
  background-color: rgb(2, 85, 8);
  color: rgb(180, 203, 182);
}

.logout-btn:active {
  box-shadow: rgba(0, 0, 0, 0.575) 0px 3px 15px;
  transform: translateY(2px);
}
