@import url(../../../styles/_variables.scss);

.header {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  background-color: color-green-ligth;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.title__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 10%;
}

.title {
  color: color-grey-dark;
}