@import './styles/_variables.scss';

.message__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
}

.message__no-acces {
  font-size: $title-primary;
  color: $color-grey-dark;
  font-weight: 600;
}
